.aside-calendar{
    width: 88%;
    margin: 0 auto;
}

.aside-calendar-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.smallcalendar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.aside-calendar-title li{
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    width: 13.6%;
    height: 1.6rem;
    text-align: center;
    font-size: 0.8rem;
}

.calendarli{
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    width: 13.6%;
    height: 1.6rem;
    text-align: center;
    font-size: 0.8rem;
}

.aside-calendar-function{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0;
}
.aside-calendar-function span{
    cursor: pointer;
    font-size: 0.7rem;
}

.aside-calendar-function .arrow{
    font-size: 1rem;
}

.aside-calendar-btns{
    position: relative;
    left: 50%;
}