.header {
    min-width: 100%;
    max-height: 7.8%;
    min-height: 7.8%;
    /* background: rgb(219, 172, 155); */
    background: #fefefe;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
}

.header-menu {
    margin-left: 15px;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(223,223,223,0.9);
}

.header-menu.is-active .line:nth-child(1) {
    width: 16px;
}

.header-menu.is-active .line:nth-child(2) {
    width: 20px;
}

.header-menu.is-active .line {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.header-button {
    cursor: pointer;
    width: 3rem;
    height: 1.5rem;
    border-radius: 10%;
    background: rgba(244, 244, 244, 0.8);
    text-align: center;
    line-height: 1.5rem;
}

.header-arrow {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 2rem;
    cursor: pointer;
    line-height: 2.2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border-radius: 100%;
}

/* .header-prevDay {} */

.header-arrow:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.header-formstyle-select {
    /* width: 4rem; */
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.header-formstyle-select span{
    padding-left: 0.4rem;
}

/* .header-formstyle-select span:after{
    content: '';
    border: 6px solid black;
    border-color: black transparent transparent transparent;
    display: inline;
    position: relative;
    top: 50%;
    left: 50%;
} */

.header-dropbox {
    margin-top: 0.5rem;
    width: 8rem;
    background: #fefefe;
    position: relative;
    border-radius: 1%;
    transition: all 0.3s;
    padding: 10px 0;
    box-shadow: 0px 2px 8px #888888;
    /* border-bottom: 1px solid grey; */
}


.header-dropbox li {
    /* padding: 0.5rem 0; */
    text-align: center;
    transition: background 0.5s;
    background: #fefefe;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}

.header-dropbox .drop-item{
    -webkit-box-flex:1;
}

.item-left{
    margin-right: 20px;
}
.item-right{
    margin-left: 20px;
}

.header-dropbox li:hover { 
    /* border-radius: 2%; */
    /* animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation: customFade 0.5s;
    -moz-animation: customFade 0.5s;
    -webkit-animation: customFade 0.5s;
    -o-animation: customFade 0.5s;
    animation-fill-mode: forwards; */
    background: rgba(223, 223, 223, 0.9);
}

.header-dropbox-config{
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
}

/*Vue animation*/
.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s;
}

.slide-fade-enter{
    transform: translateY(-0.8rem);
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
}

/*CSS keyframe animation*/
@keyframes customFade {
    0% {
        background: #fefefe;
    }

    100% {
        background: rgba(223, 223, 223, 0.9);
    }
}
